
# Build artifacts
build/
dist/
artifacts/

# Changelog
CHANGELOG.md

# IDE related
.idea/
.history/

# Markdown (let remark handle it)
*.md

# Package management
node_modules/
.yarn/
.pnp.*
pnpm-lock.yaml

# Testing
__fixtures__
__snapshots__
coverage/
reports/

# Temporary or local data
temp/
tmp/

# Clinic profiling
.clinic

# Renderer releases
releases/

packages/player-component/tests/
packages/player-component/cypress/

.changeset/*.json
