@tailwind base;
@tailwind components;
@tailwind utilities;

.splitter-drag-bar {
  flex-shrink: 0;
  width: 5px;
  background-color: #d1d5db;
  cursor: col-resize;
  transition: background-color 0.15s 0.15s ease-in-out;
}

.splitter-drag-bar.splitter-drag-bar--dragging,
.sample-drag-bar:hover {
  background-color: #63b3ed;
}

.splitter-drag-bar.splitter-drag-bar--horizontal {
  height: 5px;
  width: 100%;
  cursor: row-resize;
}

[hidden] {
  display: none;
}
