@font-face {
  font-family: 'Karla';
  src: url('./Karla.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

.dotlottie-container {
  --lottie-player-theme-color: rgb(0, 221, 179);
  --lottie-player-button-hover-color: rgb(243, 246, 248);
  --lottie-player-toolbar-track-color: rgb(217, 224, 230);
  --lottie-player-button-text-color: rgb(32, 39, 44);
  --lottie-player-toolbar-background-color: white;
  --lottie-player-button-border-radius: 4px;
  --lottie-player-toolbar-height: 35px;
  --lottie-player-popover-border-radius: 8px;

  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
  font-style: regular;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.animation {
  width: 100%;
  height: 100%;
  display: flex;
}
.animation.controls {
  height: calc(100% - var(--lottie-player-toolbar-height));
}

.toolbar {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--lottie-player-toolbar-background-color);
  padding: 0 8px;
  height: var(--lottie-player-toolbar-height);
  gap: 4px;
}

.toolbar button {
  align-items: center;
  cursor: pointer;
  color: var(--lottie-player-button-text-color);
  display: flex;
  background: none;
  border: 0;
  padding: 4px 8px;
  outline: none;
  height: 100%;
  max-height: 24px;
  border-radius: var(--lottie-player-button-border-radius);
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.toolbar .popover button {
  max-height: none;
}

.toolbar button:hover {
  background-color: var(--lottie-player-button-hover-color);
}

.toolbar button.active {
  color: var(--lottie-player-theme-color);
}

.toolbar button > svg {
  color: inherit;
}

.toolbar button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px var(--lottie-player-theme-color), 0px 0px 0px 1px #fff;
}

.seeker {
  --seeker: 0;
  height: 4px;
  width: 95%;
  outline: none;
  border-radius: 9999px;
  -webkit-appearance: none;
  -moz-apperance: none;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    var(--lottie-player-theme-color) calc(var(--seeker) * 1%),
    var(--lottie-player-toolbar-track-color) calc(var(--seeker) * 1%)
  );
}

.seeker.to-left {
  background-image: linear-gradient(
    to right,
    var(--lottie-player-toolbar-track-color) calc(var(--seeker) * 1%),
    var(--lottie-player-theme-color) calc(var(--seeker) * 1%)
  );
}

.seeker::-moz-range-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--lottie-player-theme-color);
  cursor: pointer;
  margin-top: -5px;
  border-color: transparent;
}

.seeker::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--lottie-player-theme-color);
  cursor: pointer;
  border-color: transparent;
}

.error {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.popover {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.28px;
  position: absolute;
  bottom: 40px;
  background-color: white;
  min-width: 224px;
  right: 8px;
  left: auto;
  border: none;
  border-radius: var(--lottie-player-popover-border-radius);
  padding: 0px;
  box-shadow: 0px 8px 48px 0px rgba(243, 246, 248, 0.15), 0px 8px 16px 0px rgba(61, 72, 83, 0.16),
    0px 0px 1px 0px rgba(61, 72, 83, 0.36);
}

.popover [aria-label='Popover header'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.popover [aria-label='Popover content'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.popover .popover-header {
  font-weight: bold;
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid #d9e0e6;
}
.popover .popover-header button {
  padding: 4px;
}

.popover .popover-items {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popover .popover-subnav {
  inset: 0;
  background-color: white;
  z-index: 1;
}

.popover .popover-items::-webkit-scrollbar {
  display: none;
}

.popover .popover-item {
  width: 100%;
  text-align: left;
  display: flex;
  padding-inline: 8px;
  padding-block: 4px;
  border-radius: var(--lottie-player-button-border-radius);
  gap: 8px;
}
